<template name="BlazeForm">
  <form {{attributes}}>
    {{#each field in props.fields}}
      {{> BlazeInput (fieldSettings field)}}
    {{/each}}
    {{#if Template.contentBlock}}
      {{> Template.contentBlock}}
    {{/if}}
    {{#if hasSubmit}}
      {{> BlazeSubmit submitData}}
    {{/if}}
  </form>
</template>
