<template name="BlazeFormGroup">
  <div class="{{formGroupClass}}">
    {{#if hasLabel}}
      <label class="{{labelSizeClass}}" for="{{props.id}}">{{{props.label}}}</label>
    {{/if}}
    <div class="{{inputSizeClass}}">
      {{> Template.contentBlock}}
      {{#if props.help}}
        <small class="form-text text-muted">
          {{{props.help}}}
        </small>
      {{/if}}
    </div>
    {{#if props.hr}}
      {{> HrLineDashed}}
    {{/if}}
  </div>
</template>
