<template name="BlazeInputDatalist">
  <input {{attributes}}>
  <datalist id="list-{{props.id}}">
    {{#each option in options}}
      <option value="{{option.title}}">{{option.subtitle}}</option>
    {{/each}}
  </datalist>
</template>
