<template name="BlazeInputRadio">
  {{#each option in options}}
    <div class="form-check">
      <input {{attributes option @index}}>
      <label class="form-check-label" for="{{props.id}}-{{option.value}}">
        {{option.title}}
      </label>
    </div>
  {{/each}}
</template>
