<template name="BlazeInputMultiple">
  <input {{attributes}}>
  {{#if props.options}}
    <datalist id="list-{{props.id}}">
      {{#each option in options}}
        <option value="{{option.title}}">{{option.subtitle}}</option>
      {{/each}}
    </datalist>
  {{/if}}
  {{#each option in selected}}
    {{> BlazeInputMultipleItem option}}
  {{/each}}
</template>

<template name="BlazeInputMultipleItem">
  <button class="btn btn-primary btn-sm btn-outline mt-1">{{props.content}}</button>
</template>
